# Lists continued

## List methods covered in last class:
- `list.copy()`
    - Return a shallow copy of the list. Equivalent to a[:]
- `list.append(x)`
    - Add an item to the end of the list. Equivalent to a[len(a):] = [x].
- `list.insert(i, x)`
    - Insert an item at a given position. The first argument is the index of the element before which to insert, so a.insert(0, x) inserts at the front of the list, and a.insert(len(a), x) is equivalent to a.append(x).
- `list.extend(iterable)`
    - Extend the list by appending all the items from the iterable. Equivalent to a[len(a):] = iterable.

## To be covered today

- `list.remove(x)`
    - Remove the first item from the list whose value is x. It is an error if there is no such item.

- `list.pop([i])`
    - Remove the item at the given position in the list, and return it. If no index is specified, a.pop() removes and returns the last item in the list.

- `list.clear()`
    - Remove all items from the list. Equivalent to del a[:].

In [1]:
fam = ["liz", 1.73, "emma", 1.68, "mom", 1.71, "dad", 1.89]
fam.remove("emma")
print(fam)

['liz', 1.73, 1.68, 'mom', 1.71, 'dad', 1.89]

In [2]:
s = [0,'a',2,'a',4]
s.remove('a') # only removes the first element that matches
print(s)

[0, 2, 'a', 4]

In [3]:
s.remove('b') # asking to remove something that doesn't exist returns an error

ValueError: list.remove(x): x not in list

In [4]:
s

[0, 2, 'a', 4]

In [5]:
s.remove(s[3]) # removing the object at index = 3

In [6]:
s

[0, 2, 'a']

In [7]:
fam = ["liz", 1.73, "emma", 1.68, "mom", 1.71, "dad", 1.89]
j = fam.pop()  # if you don't specify an index, it pops the last item in the list
# default behavior of pop() without any arguments is like a stack. last in first out
print(j)
print(fam)

1.89
['liz', 1.73, 'emma', 1.68, 'mom', 1.71, 'dad']

In [8]:
fam = ["liz", 1.73, "emma", 1.68, "mom", 1.71, "dad", 1.89]
j = fam.pop(0)  # you can also specify an index.
# Using index 0 makes pop behave like a queue. first in first out
print(j)
print(fam)

liz
[1.73, 'emma', 1.68, 'mom', 1.71, 'dad', 1.89]

In [9]:
fam.clear()  # clears the entire list
print(fam)

[]


- `list.index(x)`
    - Return zero-based index in the list of the first item whose value is x. Raises a ValueError if there is no such item.
- `list.count(x)`
    - Return the number of times x appears in the list.

In [10]:
fam = ["liz", 1.73, "emma", 1.68, "mom", 1.71, "dad", 1.89]
fam.index("emma")

2

In [11]:
letters = ["a", "b", "c", "a", "a"]
print(letters.count("a"))

3

In [12]:
fam2 = [["liz", 1.73],
["emma", 1.68],
["mom", 1.71],
["dad", 1.89]]
print(fam2.count("emma"))  # the string by itself does not exist
print(fam2.count(["emma", 1.68]))

0
1

- `list.sort(key=None, reverse=False)`
    - Sort the items of the list in place (the arguments can be used for sort customization, see sorted() for their explanation).

- `list.reverse()`
    - Reverse the elements of the list in place.

In [13]:
print(fam)

['liz', 1.73, 'emma', 1.68, 'mom', 1.71, 'dad', 1.89]

In [14]:
fam.reverse()  # no output to 'capture', the list is changed in place

In [15]:
print(fam)

[1.89, 'dad', 1.71, 'mom', 1.68, 'emma', 1.73, 'liz']

In [16]:
fam.sort()  # can't sort floats and string

TypeError: '<' not supported between instances of 'str' and 'float'

In [17]:
some_digits = [4,2,7,9,2,5.1,3]
some_digits.sort()  # the list is sorted in place. no need to resave the output

In [18]:
print(some_digits)  # preserves numeric data types

[2, 2, 3, 4, 5.1, 7, 9]

In [19]:
type(some_digits[4])

float

In [20]:
some_digits.sort(reverse = True)
print(some_digits)

[9, 7, 5.1, 4, 3, 2, 2]

In [21]:
some_digits = [4,2,7,9,2,5.1,3]
sorted(some_digits)  # sorted will return a sorted copy of the list

[2, 2, 3, 4, 5.1, 7, 9]

In [22]:
some_digits  # the list is unaffected

[4, 2, 7, 9, 2, 5.1, 3]

# Tuples

Tuples are like lists in that they can contain objects of different types.

They are different from lists in that they are **immutable**.

Tuples are created using curved brackets (parenthesis) `()`. They are also created by default if you write values separated by commas without any type of bracket.

tuples only support two methods: `tuple.index()` and `tuple.count()` which return information about contents of the tuple but do not modify them

In [23]:
t = (0,'apple',2,'cat','dog',5,6)

In [24]:
# the usual indexing options apply
t[1]

'apple'

In [25]:
t[2:5]

(2, 'cat', 'dog')

In [26]:
t.index('dog')

4

In [27]:
t.count(5)

1

## mutable vs immutable

Lists are mutable, meaning they can be modified.

Tuples are immutable. They cannot be modified.

In [28]:
t = (0,'apple',2,'cat','dog',5,6) # tuple
l = [0,'apple',2,'cat','dog',5,6] # list

In [29]:
l[0] = 100  # we can change the value of the object at index 0
print(l)

[100, 'apple', 2, 'cat', 'dog', 5, 6]

In [30]:
t[0] = 100  # trying to modify the value in a tuple is not allowed

TypeError: 'tuple' object does not support item assignment

In [31]:
t.append('x')  # methods that modify lists in place (e.g. append, insert, pop, etc) do not work for tuples

AttributeError: 'tuple' object has no attribute 'append'

In [32]:
l.append('x')
print(l)

[100, 'apple', 2, 'cat', 'dog', 5, 6, 'x']

In [33]:
a = 1, 2, 3, 4
print(a)  # tuple created by default
print(type(a))

(1, 2, 3, 4)
<class 'tuple'>

## Functions that support lists and tuples as inputs

- `len()`
- `sum()`
- `sorted()`
- `min()`
- `max()`

None of these functions affect the list or tuple itself.

In [34]:
some_digits = (4,2,7,9,2,5,3)  # a tuple of numbers
some_words = ['dog','apple','cat','hat','hand']  # this is a list

In [35]:
len(some_digits)

7

In [36]:
sum(some_digits)

32

In [37]:
sum(some_words) # won't work on strings

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [38]:
sorted(some_digits)  # sorts the tuple, but does not affect the list or tuple itself.
# contrast to list.sort() which will sort the list in place
# but the object returned is a list

[2, 2, 3, 4, 5, 7, 9]

In [39]:
print(some_digits)  # just to show the list is unchanged

(4, 2, 7, 9, 2, 5, 3)

In [40]:
sorted(some_words) # when applied to a list of strings, it will alphabetize them

['apple', 'cat', 'dog', 'hand', 'hat']

In [41]:
min(some_digits)

2

In [42]:
max(some_words)  # max returns the last word if alphabetized,
# min will return the first in an alphabetized list

'hat'

# Strings and String Methods

strings are immutable. This means that when you use a method on a string, it does not modify the string itself and returns a new string object.

In [43]:
name = "STATS 131 python and other technologies for data science"
print(name.upper())
print(name.capitalize()) # first character is capitalized
print(name.title())     # first character of each word is capitalized
print(name.lower())
print(name) # string itself is not modified

STATS 131 PYTHON AND OTHER TECHNOLOGIES FOR DATA SCIENCE
Stats 131 python and other technologies for data science
Stats 131 Python And Other Technologies For Data Science
stats 131 python and other technologies for data science
STATS 131 python and other technologies for data science

In [44]:
name.count("e")

5

In [45]:
name.index('A') # index of the first instance

2

In [46]:
name.endswith("k")

False

In [47]:
name.endswith("e")

True

In [48]:
name.startswith("s")  # case sensitive

False

In [49]:
name2 = '''   miles chen 


'''
print(name2)

   miles chen

In [50]:
name2.strip()  # removes extra whitespace

'miles chen'

In [51]:
name2.split()

['miles', 'chen']

In [52]:
num_string = "2,3,4,7,8"
print(num_string.split()) # defaults to splitting on space
print(num_string.split(','))

['2,3,4,7,8']
['2', '3', '4', '7', '8']

In [53]:
# list comprehension (covered later)
[int(x) for x in num_string.split(',')]

[2, 3, 4, 7, 8]

In [54]:
# the list comprehension is a more concise version of the following code
l = []
for x in num_string.split(','):
    l.append(int(x))
l

[2, 3, 4, 7, 8]

In [55]:
print(name)
print(name.isalpha()) # has spaces and digits, so it is not strictly alpha
name3 = "abbaAZ"
name3.isalpha()

STATS 131 python and other technologies for data science
False

True

In [56]:
name4 = "abbaAZ4"
name4.isalpha()

False

In [57]:
# strings can span multiple lines with triple quotes 
long_string = """Lyrics to the song Hallelujah
Well I've heard there was a secret chord
That David played and it pleased the Lord
But you don't really care for music, do you?"""
shout = long_string.upper()
print(shout)
word_list = long_string.split() # separates at spaces
print(word_list)

LYRICS TO THE SONG HALLELUJAH
WELL I'VE HEARD THERE WAS A SECRET CHORD
THAT DAVID PLAYED AND IT PLEASED THE LORD
BUT YOU DON'T REALLY CARE FOR MUSIC, DO YOU?
['Lyrics', 'to', 'the', 'song', 'Hallelujah', 'Well', "I've", 'heard', 'there', 'was', 'a', 'secret', 'chord', 'That', 'David', 'played', 'and', 'it', 'pleased', 'the', 'Lord', 'But', 'you', "don't", 'really', 'care', 'for', 'music,', 'do', 'you?']

In [58]:
long_string.splitlines() # separates at line ends
# you'll notice that python defaults to using single quotes, but if the string contains an apostrophe,
# it will use double quotes

['Lyrics to the song Hallelujah',
 "Well I've heard there was a secret chord",
 'That David played and it pleased the Lord',
 "But you don't really care for music, do you?"]

In [59]:
long_string.count("e")

15

In [60]:
long_string.find("t") # index of the first instance of 't'

7

In [61]:
long_string.index('t') # string.index() and string.find() are similar.

7

In [62]:
long_string.find('$') # string.find() returns a -1 if the character doesn't exist in the string

-1

In [63]:
long_string.index('$')  # string.index() returns error if the character doesn't exist in the string.

ValueError: substring not found

## Subsetting Strings and strings as iterables

You can subset and slice a string much like you would a list or tuple:

In [64]:
s = 'abcdefghijklmnopqrstuvwxyz'
s[0]

'a'

In [65]:
s[4:9]

'efghi'

In [66]:
s[-6:]

'uvwxyz'

In [67]:
for x in s[0:5]:
    print(x + '!')

a!
b!
c!
d!
e!

In [68]:
# keep in mind strings are immutable
s[0] = 'b'

TypeError: 'str' object does not support item assignment

In [69]:
'b' + s[1:] # if i wanted the string where the first letter is now b

'bbcdefghijklmnopqrstuvwxyz'

# Math operators and lists, tuples, strings

multiplication generally duplicates

addition generally appends

behaviors across lists, tuples, and strings are similar

In [70]:
L1 = ['a','b','c']
L2 = ['d','e','f']

In [71]:
L1 * 2 # multiplication extends duplicates

['a', 'b', 'c', 'a', 'b', 'c']

In [72]:
L1 + L2 # addition appends list objects

['a', 'b', 'c', 'd', 'e', 'f']

In [73]:
T1 = ('a','b','c')
T2 = ('d','e','f')

In [74]:
T1 * 2

('a', 'b', 'c', 'a', 'b', 'c')

In [75]:
T1 + T2

('a', 'b', 'c', 'd', 'e', 'f')

In [76]:
L1 + T2 # fails. you cannot add list and tuple

TypeError: can only concatenate list (not "tuple") to list

In [77]:
L1 + list(T2) # but you can easily convert a tuple to a list first

['a', 'b', 'c', 'd', 'e', 'f']

In [78]:
S1 = 'abc'
S2 = 'def'

In [79]:
S1 * 2

'abcabc'

In [80]:
S1 + S2

'abcdef'

# Booleans


You can convert boolean values to other types. True becomes 1, False becomes 0.

In [81]:
True

True

In [82]:
int(True)

1

In [83]:
float(True)

1.0

In [84]:
str(True)

'True'

In [85]:
int(False)

0

In [86]:
float(False)

0.0

In [87]:
str(False)

'False'

## You can convert other data types to booleans.

`bool()` called empty or on `None` will return `False`

In [88]:
bool()

False

In [89]:
bool(None)

False

Only 0 for numeric data types become False, everything else becomes True

In [90]:
bool(0)

False

In [91]:
bool(3) # any integer other than 0 becomes True

True

In [92]:
bool(0.0)

False

In [93]:
bool(-1.0) # any float that is not 0 also becomes True

True

In [94]:
x = float('nan')
x

nan

In [95]:
bool(x)  # even nan will become True

True

Only empty strings become False, everything else becomes True

In [96]:
bool('')

False

In [97]:
bool(' ')

True

In [98]:
bool('False')

True

bool() called on an empty list or tuple will return False. everything else will return True

In [99]:
l = []
bool(l)

False

In [100]:
l2 = [False] # l2 is a list that contains one object, false. bool sees a list that is not empty and returns True
bool(l2)

True

In [101]:
l3 = [[]] # l3 is a list that contains another list that is empty. l3 itself is not empty.

In [102]:
bool(l3)

True

In [103]:
# of course the item in l2 is False
l2[0]

False

In [104]:
bool(l2[0])

False

# Dictionaries

dictionaries (dicts) are unordered mappings of keys to values. If you are coming from r, you can think of them as named vectors, except like lists, they can contain different types of data

The *normal* way to create dictionaries are with curly braces `{}` and colons `:`

In [ ]:
people = {'adam':25 , 'bob': 19, 'carl': 30}

In [ ]:
people

Dictionaries can also be created by calling dict after zipping two lists together:

In [ ]:
people2 = dict( zip( ['adam','bob','carl'] , [25, 19, 30] ) )

In [ ]:
 zip( ['adam','bob','carl'] , [25, 19, 30] )  # output of a zip function

In [ ]:
people == people2

You can then access the value by using the key.

In [ ]:
people['bob']

In [ ]:
people.get('bob') # can also be done with method get()

In [ ]:
people['joe']

In [ ]:
print(people.get('joe') ) # if you use get() and it does not find, returns None

In [ ]:
d = {2:[20, 4, 5], 1:10}  # keys can be numeric, values can also be lists

In [ ]:
d[2]

In [ ]:
d[1]

Dictionaries are inherrently unordered, so you cannot use numeric indexes. If you provide a number, that number needs be a key in the dictionary.

In [ ]:
people[0]

You can use key mapping to create new entries in the dictionary too.
You can also use it to modify the value associated with a key.

In [ ]:
people

In [ ]:
people['derek'] = 33  # new entry
people['adam'] = 26   # modifies existing key-value pair

In [ ]:
people

To remove a key, use del

In [ ]:
del people['carl']

In [ ]:
people

In [ ]:
people.pop()  # pop method requires a key that exists in the dictionary

In [ ]:
people.pop('adam')

In [ ]:
print(people)

`dict.update()` can be used to add more keys from another dictionary

In [ ]:
peopleA = {'adam':25 , 'bob': 19, 'carl': 30}

In [ ]:
peopleB = {'dave':35 , 'earl': 22, 'fred': 27}

In [ ]:
peopleA.update(peopleB)

In [ ]:
peopleA

If the dictionary used to update has keys that exist in the first dictionary, the keys will be overwritten with the updated keys.

In [ ]:
peopleA

In [ ]:
peopleC = {'fred':99 , 'gary': 18}

In [ ]:
peopleA.update(peopleC)

In [ ]:
peopleA

## Dictionary view objects

Dictionaries support dynamic view objects. This means that the values in the view objects change when the dictionary changes.

the view objects are

- `dict.keys()`
- `dict.values()`
- `dict.items()`

In [ ]:
people = {'adam':25 , 'bob': 19, 'carl': 30}

In [ ]:
people

In [ ]:
names = people.keys()
ages = people.values()

In [ ]:
names

In [ ]:
ages

In [ ]:
# I create a new key-value pair in the dictionary
people['ed'] = 40

In [ ]:
# without redefining what names or ages are, the view object updates
names

In [ ]:
ages

view objects support only a few functions: `len()` or `in`

If you need to do more, you can convert them to a list or other iterable type, but you'll lose the dynamic quality

In [ ]:
len(ages)

In [ ]:
35 in ages

In [ ]:
age_list = list(ages)

In [ ]:
age_list

In [ ]:
# add a new key-value pair in the dictionary
people['frank'] = 29

In [ ]:
ages # the view object is dynamic

In [ ]:
age_list # the list created earlier is not